<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> <!-- USE /before stylesheets-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/ideafavicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>Archit's BlogPage</title>
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="/" class="header item"><i class="lightbulb outline icon"></i>Archit's Blog Site</a>
        <a href="/" class="item">Home</a>
      <a href="/blogs/new" class="item">New Post</a>
      </div>
    </div>
